/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        margin: 0;
        padding: 0;
        background: #f5f5f5;
        height: auto;
        font-family: 'localRobotoFont', Arial, sans-serif;
        overflow-x: hidden;
        color: #333;
      }
      
    .btn-div {
        flex: 1 0 50%;
        margin-bottom: 10px;
    }
    nav {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        padding: 20px 30px 0;
    }
    .img-pd {
        padding: 5px 100px 5px 0;
        width: 80%;
        flex: 0 0 50%;
    }

    .fl{
        flex: 1 0 50%;
        margin-left: 100px;
    }
    .hd {
        padding: 10px 0 10px 480px; 
        text-transform: capitalize; 
        font-size: 30px; 
        font-weight: 900;
      }

      .bd {
        font-size: 15px; 
        text-align: left;
      }
    
      .box {
        border: 1px solid transparent;
        padding: 10px 0 10px 320px;
        margin-left: 20px;
      }

      .fl-50 {
        flex: 1 1 50%; 
        padding: 50px 20px 50px 0; 
        align-self: start;
      }

      .faq {
        border-top: 1px solid #ddd;
        padding: 10px;
        margin: 0 100px 0 50px;
        position: relative;
      }

      .footer-bottom {
        display: flex; 
        flex: 1 1 50%; 
        padding: 60px 50px 40px; 
        background-color: #333; 
        color: ivory;
        font-size: 12px;
      }

      .fs-12 {
          font-size: 12px;
      }
}


/* Large devices (tablets, 769px and up) */
@media (min-width: 769px) and (max-width: 991px) {
    
    nav {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        padding: 20px 40px 0;
        position: relative;
    }

    .inner-nav-div {
        display: none;
        margin: 0;
    }

    .nav-link {
        padding: 15px;
    }

    .nav-div{
        position: relative;
        margin-top: 80px;
        background-color: #fff;
        width: 90%;
        z-index: 2;
    }
    .btn-div {
        display: flex; 
        flex: 1 1 20%;
      }

      .nav-btn {
        background-color: transparent;
        font-family: 'heebo';
        padding: 10px;
        margin: 0 0;
        border: 2px solid #aaa;
        border-radius: 25px;
        outline: none;
    }
  
    .nav-btn:hover {
        background-color: #ccc;
    }

    .nav-button {
        display: flex; 
        flex: 0 1 15%;
        padding: 0 0 40px;
    }

    .nav-logo {
        text-decoration: none;
        flex: 1 1 60%;
    }

    .slider-text{
        font-size: 94px;
        text-align: right;
        margin: 0 auto;
    }

    .slider {
        padding-left: 30px;
        margin: 0 auto;
    }

    .fs-26 {
        font-size: 18px;
    }

    .inner-container {
        min-width: 400px;
    }

    .pd {
        padding: 40px 0;
    }

    .bg-sk {
        background-attachment: scroll;
      }

    .bg-img{
        background-size: cover;
      }

    .mob {
        display: block;
        margin: 0 auto;
      } 

     .hd {
        padding: 10px 0 10px 20px; 
      }

      .box {
        padding: 10px 0 10px 20px;
      }

      .bd {
          padding-left: 30px;
      }

    .img-cnt {
        margin: 0 auto;
        padding: 50px 150px;
    }

    .img {
        width: 100%;
        height: 80%;
      }
    
    .mg {
        margin: 20px 10px;
      }

    .txt-pd {
        padding: 0 10px 10px 40px;
      }

    .b-con {
        display: block; 
      }

    .mr {
        font-size: 40px;
    }

    .sm {
        width: 80%;
        margin: 0 100px;
    }

    .footer-bottom {
        padding: 60px 70px 40px; 
      }
}