/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        margin: 0;
        padding: 0;
        background: #f5f5f5;
        height: auto;
        font-family: 'localRobotoFont', Arial, sans-serif;
        overflow-x: hidden;
        color: #333;
      }
      
    .btn-div {
        flex: 1 0 50%;
        margin-bottom: 10px;
    }
    nav {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        padding: 20px 30px 0;
    }
    .img-pd {
        padding: 5px 10px 5px 0;
    }

    .fl-container {
        display: flex;
        flex: 1 1 33%;
      }

    .fl{
        flex: 1 0 50%;
        margin-left: 20px;
    }

    .box-size {
        width: 90vw;
    }

    .fl-50 {
        padding-left: 20px;
    }

    .hd {
        padding: 10px 0 10px 480px; 
        text-transform: capitalize; 
        font-size: 30px; 
        font-weight: 900;
      }

      .bd {
        font-size: 15px; 
        text-align: left;
      }

      .a-w-svg {
        width: 100%;
    }
    
      .box {
        border: 1px solid transparent;
        padding: 10px 0 10px 20px;
        margin-left: 20px;
      }


      .pd-0 {
          padding: 0 10px 50px !important;
      }


      .faq {
        border-top: 1px solid #ddd;
        padding: 10px;
        margin: 0;
        position: relative;
      }

      .footer-bottom {
        display: flex; 
        flex: 1 1 50%; 
        padding: 60px 50px 40px; 
        background-color: #333; 
        color: ivory;
        font-size: 12px;
      }

      .fs-12 {
          font-size: 12px;
      }
}


/* Large devices (tablets, 769px and up) */
@media (max-width: 991px) {
    
    nav {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        padding: 20px 40px 0;
        position: relative;
    }

    .bg-img{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        vertical-align: middle;
      }

    .inner-nav-div {
        display: none;
        margin: 0;
    }

    .nav-link {
        padding: 15px;
    }

    .nav-div{
        position: relative;
        margin-top: 80px;
        background-color: #fff;
        width: 90%;
        z-index: 2;
    }
    .btn-div {
        display: flex; 
        flex: 1 1 20%;
      }

      .nav-btn {
        background-color: transparent;
        font-family: 'heebo';
        padding: 10px;
        margin: 0 0;
        border: 2px solid #aaa;
        border-radius: 25px;
        outline: none;
    }

    .no-pd {
        padding: 0;
    }

    .no-mg {
        margin: 0;
    }
  
    .nav-btn:hover {
        background-color: #ccc;
    }
    

    .nav-button {
        display: flex; 
        flex: 0 1 15%;
        padding: 0 0 40px;
    }

    .nav-logo {
        text-decoration: none;
        flex: 1 1 60%;
    }

    .slider-text{
        font-size: 94px;
        display: inline-flex;
        text-align: center;
        justify-self: center;
        align-content: center;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .d-in-flex {
        display: inline-grid;
    }

    .bg-500 {
        width: 700px;
    }

    .a-w-svg {
        width: 110%;
    }


    .slider {
        padding-left: 30px;
        margin: 0 auto;
    }

    .fs-26 {
        font-size: 18px;
    }

    .inner-container {
        min-width: 400px;
    }

    .pd {
        padding: 40px 0;
    }

    .bg-img{
        background-size: cover;
      }

    .mob {
        display: block;
        margin: 0 auto;
      } 

     .hd {
        padding: 10px 0 10px 20px; 
      }

      .box {
        padding: 10px 0 10px 20px;
      }

      .bd {
          padding-left: 30px;
      }

    .img-cnt {
        margin: 0 auto;
        width: 80vw;
        padding: 10px;
    }

    .img {
        width: 70vw;
        height: 50vh;
      }
    
    .mg {
        margin: 20px 10px;
      }

    .txt-pd {
        padding: 0 10px 10px 40px;
      }

    .b-con {
        display: block; 
      }

    .mr {
        font-size: 40px;
    }

    .sm {
        width: 80%;
        margin: 0 100px;
    }

    .footer-bottom {
        padding: 60px 70px 40px; 
      }
}

/*for smaller tabs*/
@media (max-width: 795px) {

    .tab-blk-disp {
        display: block;
        padding: 100px;
    }

    .inner-container {
        min-width: 400px;
    }

    .slider-text {
        font-size: 70px;
        line-height: 100px;
    }

    .pd-10 {
        padding: 10px;
    }

   

    .pd-0 {
        padding: 0;
    }

    .pd-50 {
        padding: 50px !important;
    }

    .pd-s-100 {
        padding: 0 100px;
    }

    .mg-10 {
        margin: 10px;
    }

    .mg {
        margin: 50px;
    }

    .fl {
        margin-left: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer-bottom {
        padding: 60px 20px 40px; 
        display: block;
      }

    .hg {
        height: 420px;
        margin: 5px;
    }

    .m-b-80 {
        margin-bottom: 80px;
    }

    .fs-13 {
        font-size: 13px !important;
    }

    .fs-10 {
        font-size: 10px;
    }

    .fs-50 {
        font-size: 50px;
    }

    .fs-40 {
        font-size: 40px;
    }

    .a-w {
        width: 100%;
    }

    .a-w-svg {
        width: 60%;
    }

    .mob-show {
        display: block;
        margin: 10px auto;
        width: 100%;
        text-align: center;
    }

    .fs-15 {
        font-size: 15px;
    }

    .fs-26 {
        font-size: 26px;
    }

    .svg-block{
        padding: 10px;
      }
    .card-h {
        font-size: 20px;
      }
    
    .card-b {
        font-size: 14px; 
      }
    
    .hg {
        height: 400px;
    }
}


/*for phones*/
@media (max-width: 580px) {

    .btn-div { 
        flex: 1 1 40%;
    }

    .pd-40 {
        padding: 40px;
    }

    
    .slider-text {
        font-size: 55px;
        line-height: 80px;
    }

    .mob-blk {
        display: block;
    }

    .img {
        width: 80%;
        margin: 0;
    }

    .container {
        padding: 10px;
    }

    .img-cnt {
        padding: 10px;
        vertical-align: middle;
        margin: 0 auto;
    }

    .box-size {
        width: 90vw;
    }

    .no-mg {
        margin: 0;
    }

    .mob-blck {
        display: block;
      }
    
    .faq {
        width: 80%;    
    }

    .w-100 {
        width: 100%;
        margin: 0 auto;
    }

    .pd-20 {
        padding: 20px !important;
    }

    .s-mob-blk {
        display: block;
        margin: 0 auto;
    }

    .centering {
        margin: 15px auto;
    }

    .box {
        padding: 10px;
    }

    .h1-heading {
        font-size: 20px;
    }

    .cap-fs {
        font-size: 30px; 
    }
}


@media (max-width: 500px) {

    .img {
        width: 80%;
        vertical-align: middle;
        padding: 0;
        margin: 0;
        margin: 0 auto;
    }

    .img-cnt {
        padding: 10px;
    }

    .mr {
        margin-left: 20px;
        font-size: 25px;
    }

    .w-100 {
        width: 100%;
        vertical-align: middle;
        padding: 0;
        margin: 0;
        margin: 0 auto;
    }

    .bg-img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        vertical-align: middle;
    }

    .nav-div {
        display: none;
    }

    .nav-btn {
        font-size: 10px;
    }

    .nav-logo {
        flex: 15%;
    }

    .fl-50 {
        padding-left: 30px;
    }

    .nav-button {
        font-size: 30px;
    }

    .btn-div {
        flex: 30%;
    }

    .fl-container {
        display: block;
        margin: 10px 50px;
    }


}

@media (max-width: 420px) {

    .slider-text {
        font-size: 45px;
        line-height: 40px;
    }

    .inner-container {
        min-width: 320px;
    }

    .tab-blk-disp {
        padding: 50px 20px;
    }

    
    .img {
        width: 100%;
    }

    .fl-50 {
        padding-left: 10px;
    }

    .input {
        width: 80vw;
    }

    .box-size {
        padding: 20px;
    }

    .fl {
        padding: 0;
    }

    .faq {
        padding: 10px;
    }
    
}

@media (max-width: 320px) {
    .card {
        width: 250px;
        height: 370px;
    }

    .pds-10 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .fl-50 {
        padding-left: 0;
    }

    .m-fs-12 {
        font-size: 12px;
    }

    .m-fs-25 {
        font-size: 25px !important;
    }

    .m-fs-11 {
        font-size: 11px !important;
    }

    .card-b {
        font-size: 12px;
    }

    .style-btn {
        padding: 10px 15px;
    }   

    .inner-container {
        min-width: 250px;
    }

    .slider-text {
        font-size: 30px;
    }

    .cap-fs {
        font-size: 26px; 
    }

    
    .img {
        width: 100%;
    }

    .mr {
        margin-left: 20px;
    }

    .footer-bottom {
        padding: 60px 10px 40px;
    }

    .img-cnt {
        padding: 10px;
    }
}