html {
    height: auto;
  }
  
  * {
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: localRobotoFont;
    src: url('fonts/Roboto-Regular.ttf');
  }

  @font-face {
    font-family: localRobotoFontBlack;
    src: url('fonts/Roboto-Black.ttf');
  }

  @font-face {
    font-family: 'heeboRegular';
    src: url('fonts/Heebo-Regular.ttf');
  }

  @font-face {
    font-family: 'heeboBold';
    src: url('fonts/Heebo-Bold.ttf');
  }


  body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    height: auto;
    font-family: 'localRobotoFont', Arial, sans-serif;
    overflow-x: hidden;
    color: #333;
  }
/*styling the nav starts here*/
  nav {
      font-family: 'heebo';
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 20px 60px 0;
      background-color: #fff;
      border-bottom: 1px solid #ccc;
      box-shadow: 1px 1px 8px #888888;
      z-index: 2;
  }

  .nav-logo {
      text-decoration: none;
      flex: 1  40%;
  }
  .nav-div {
    flex: 1 1 45%;
  }

  .inner-nav-div {
      display: inline-block;
  }

  .nav-link {
      font-family: 'heebo';
      font-weight: bold;
      display: inline-block;
      text-decoration: none;
      color: black;
      padding: 20px 2px;
      margin: 0 1px;
      text-align: right;
      position: relative;
      width: auto;
  }


  .dropdown, .inner-dropdown {
    display: none;
    border: 1px solid transparent;
    border-top: 3px solid #f7c25e;
    padding: 10px 15px 10px 10px;
    position: absolute;
    background-color: #fff;
    font-family: 'heeboBold';
    font-weight: bold;
    box-shadow: 1px 1px 8px #888888;
    text-transform: uppercase;
  }

  .inner-nav-div:hover .dropdown {
    display: block;
  }

  .inner-dropdown {
    left: 210px;
    top: 5px;
  }
 
  .dropdown a {
    display: block;
    text-decoration: none;font-family: 'heebo';
    color: black;
    padding: 10px 15px 10px 10px;
    margin: 0 5px;
    text-align: left;
    padding: 10px;
    border-width: 100%;
    z-index: 2;
    font-size: 12px;
    width: 200px;
  }

  .second-dropdown{
    position: relative;
  }

  .second-dropdown:hover .inner-dropdown {
    display: block;
  }

  .dropdown a:hover {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    color: #f7c25e;
  }

  .btn-div {
    display: flex; 
    flex: 1 1 15%;
  }

  .nav-btn {
      background-color: transparent;
      font-family: 'heebo';
      padding: 10px;
      margin: 0 5px;
      border: 2px solid #aaa;
      border-radius: 25px;
      outline: none;
  }

  .nav-btn:hover {
      background-color: #ccc;
  }

  /*styling the nav ends here*/

  .shadow {
    box-shadow: 1px 1px 8px #888888;
  }

  /*styling the slider starts here*/
  .container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 40px;
    margin: 5px 0;
    height: auto;
  }

  
  .inner-container {
    display: inline-block;
    margin: 0 auto;
    background-color: inherit;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .dis-flex {
    display: flex;
    flex-direction: column;
  }

  .box-size {
    width: 1000px;
    padding: 60px;
  }

  /*animation for the slider starts here*/

  @keyframes animate {
    from {
      content: 'developers';
    }
    to {
      content: 'designers';
    }
  }

  /*animation for the slider ends here*/

  .slider-text {
    text-transform: uppercase;
    font-family: 'heebo';
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 133px;
    font-weight: 900;
    line-height: 200px;
    background: linear-gradient(to right, #f7c25e, #f14272 , #414cf7); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }

  .fs-26 {
    font-size: 26px; 
    text-transform: uppercase;
  }

  .col-txt{
    text-transform: uppercase;
    font-family: 'heebo';
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    background: linear-gradient(to right, #f7c25e, #f14272 , #414cf7); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }

  .slider-text:after {
    content: "developers";
    animation-name: animate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
  }

  .block-display {
    display: block;
    margin: 0 auto;
    background-color: inherit;
  }

  .write-up{
    text-align: center;
    font-family: 'heebo';
    font-size: 20px;
    margin: 15px auto;
    border: 1px solid transparent;
    margin-bottom: 20px;
  }

  .style-btn {
    background-color: #333;
    font-family: 'heebo';
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding: 20px 30px;
    border-radius: 45px;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid #333;
    margin: 0 auto;
  }

  .style-btn:hover {
    background-color: transparent;
    color: black;
  }  

  .hide {
    display: none;
  }

  

  /*styling the slider ends here*/

  /*styling the parallax section starts here*/


  .bg-img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px -90%;
  }

  .pr {
    background-attachment: fixed;
  }

  .hg {
    height: 420px;
  }

  .fl-container {
    display: flex;
    flex: 1 1 33%;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 100px 100px 20px;
  } 

  .fl-inner-container{
    margin: 0 auto;
    display: flex;
  }

  .counter-txt{
    font-family: 'heebo';
    font-weight: 900;
    font-size: 50px;
    margin-right: 5px;
  }

  .fl {
    flex: 1 0 30%; 
    margin-left: 100px;
  }

  .bd {
    font-size: 20px; 
    text-align: left;
  }

  .hd {
    padding:  10px 50px 10px 270px; 
    text-transform: capitalize; 
    font-size: 40px; 
    font-weight: 900;
  }

  .box {
    border: 1px solid transparent;
    padding: 10px 50px 10px 270px;
    margin-left: 20px;
  }

  /*styling the parallax section ends here*/


  /*styling the 'what clients say' section starts here*/

  .img {
    max-width: 200%;
    width: 100%;
    vertical-align: middle;
    max-height: 200%;
    height: 550px;
    padding-right: 40px;
    margin-right: 100px;
  }

  .img-cnt {
    padding: 5px 100px; 
    flex: 1 0 70%; 
    margin-right: 130px;
  }
  .card {
    display: block;
    width: 300px;
    border: 1px solid #aaa;
    background-color: #fff;
  }

  .card-h {
    text-align: center; 
    padding-left: 10px; 
    text-transform: capitalize;
  }

  .card-b {
    font-weight: 200; 
    font-size: 16px; 
    text-align: left; 
    padding: 10px; 
    margin-top: 5px;
  }

  .mg-10 {
    margin: 10px;
  }

  .mg {
    margin: 20px 30px;
  }

  .card:hover {
    transform: scale(1.1);
    transition: .5s;
  }

  /*styling the 'what clients say' section ends here*/


  /*styling the 'our relationship' section ends here*/

  .txt-pd {
    border: 1px solid transparent; 
    padding: 0 380px 10px 40px;
  }

  .svg-block{
    padding: 30px;
  }

  /*styling the 'our relationship' section ends here*/

  .b-con {
    display: flex; 
    flex: 1 1 50%;
  }
  
  .faq {
    border-top: 1px solid #ddd;
    padding: 20px;
    margin-right: 150px;
    position: relative;
  }

  .fl-50 {
    flex: 1 1 50%; 
    padding: 50px 20px 50px 70px; 
    align-self: start;
  }

  .mr {
    margin-left: 50px;
  }


  .no-style{
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: inherit;
    outline: none;
    text-decoration: none;
    color: inherit;
  }

  .accodion {
    display: none;
    border: 1px solid transparent;
    padding: 20px 10px 10px 35px;
    position: relative;
    background-color: inherit;
    font-family: inherit;
    font-weight: inherit;
  }

  .faq:hover .accodion {
    color: inherit;
    display: block;
  }

  .details {
    display: block;
    margin: 20px 0 35px;
    font-weight: 700;
    color: #555;
  }

  .input {
    border: none;
    border-bottom: 1px solid #aaa;
    width: 400px;
    outline: none;
    background-color: inherit;
    font-size: 20px;
    font-weight: 400;
  }


  #footer {
    background-color: #ccc;
    padding: 70px 0 o;
  }

  .left {
    margin-left: 20px;
  }

  .footer-bottom {
    display: flex; 
    flex: 1 1 50%; 
    padding: 60px 110px 40px; 
    background-color: #333; 
    color: ivory;
  }


  .nav-button{
    display: none;
    font-size: 40px;
    padding: 20px;
  }