html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: localRobotoFont;
    src: url('fonts/Roboto-Regular.ttf');
  }

  @font-face {
    font-family: localRobotoFontBlack;
    src: url('fonts/Roboto-Black.ttf');
  }

  @font-face {
    font-family: 'heeboRegular';
    src: url('fonts/Heebo-Regular.ttf');
  }

  @font-face {
    font-family: 'heeboBold';
    src: url('fonts/Heebo-Bold.ttf');
  }


  body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    height: 100%;
    font-family: 'localRobotoFont', Arial, sans-serif;
  }
/*styling the nav starts here*/
  nav {
      font-family: 'heebo';
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 20px 60px 0;
      background-color: #fff;
      border-bottom: 1px solid #ccc;
      box-shadow: 1px 1px 8px #888888;
  }

  .nav-logo {
      text-decoration: none;
      flex: 1 1 40%;
  }
  .nav-div {
    flex: 1 1 60%;
  }

  .inner-nav-div {
      display: inline-block;
  }

  .nav-link {
      font-family: 'heebo';
      font-weight: bold;
      display: inline-block;
      text-decoration: none;
      color: black;
      padding: 20px 5px;
      margin: 0 5px;
      text-align: right;
      position: relative;
      width: auto;
  }


  .dropdown, .inner-dropdown {
    display: none;
    border: 1px solid transparent;
    border-top: 3px solid #f7c25e;
    padding: 10px 15px 10px 10px;
    position: absolute;
    background-color: #fff;
    font-family: 'heeboBold';
    font-weight: bold;
    box-shadow: 1px 1px 8px #888888;
    text-transform: uppercase;
  }

  .inner-nav-div:hover .dropdown {
    display: block;
  }

  .inner-dropdown {
    left: 210px;
    top: 5px;
  }
 
  .dropdown a {
    display: block;
    text-decoration: none;font-family: 'heebo';
    color: black;
    padding: 10px 15px 10px 10px;
    margin: 0 5px;
    text-align: left;
    padding: 10px;
    border-width: 100%;
    z-index: 2;
    font-size: 12px;
    width: 200px;
  }

  .second-dropdown{
    position: relative;
  }

  .second-dropdown:hover .inner-dropdown {
    display: block;
  }

  .dropdown a:hover {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    color: #f7c25e;
  }

  .nav-btn {
      background-color: transparent;
      font-family: 'heebo';
      padding: 10px;
      margin: 0 5px;
      border: 2px solid #aaa;
      border-radius: 25px;
  }

  .nav-btn:hover {
      background-color: #ccc;
  }

  /*styling the nav ends here*/

  .shadow {
    box-shadow: 1px 1px 8px #888888;
  }

  /*styling the slider starts here*/
  .container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 40px;
    margin: 5px 0;
    height: auto;
    background-color: inherit;
  }

  .bg-img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px -100%;
  }

  .inner-container {
    display: inline-block;
    margin: 0 auto;
    background-color: #eee;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-width: 850px;
  }

  /*animation for the slider starts here*/

  @keyframes animate {
    from {
      content: 'developers';
    }
    to {
      content: 'designers';
    }
  }

  /*animation for the slider ends here*/

  .slider-text {
    text-transform: uppercase;
    font-family: 'heebo';
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 133px;
    font-weight: 900;
    line-height: 200px;
    background: linear-gradient(to right, #f7c25e, #f14272 , #414cf7); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }

  .col-txt{
    text-transform: uppercase;
    font-family: 'heebo';
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    background: linear-gradient(to right, #f7c25e, #f14272 , #414cf7); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }

  .slider-text:after {
    content: "developers";
    animation-name: animate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
  }

  .block-display {
    display: block;
    margin: 0 auto;
  }

  .write-up{
    text-align: center;
    font-family: 'heebo';
    font-size: 20px;
    margin: 15px auto;
    border: 1px solid transparent;
    margin-bottom: 20px;
    width: 650px;
  }

  .style-btn {
    background-color: #333;
    font-family: 'heebo';
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding: 20px 30px;
    border-radius: 45px;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid #333;
    margin: 0 auto;
  }

  .style-btn:hover {
    background-color: transparent;
    color: black;
  }  

  .hide {
    display: none;
  }

  

  /*styling the slider ends here*/


